<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LifeIdea.LazyCure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LifeIdea.LazyCure.Properties.Settings>
            <setting name="TimeLogsFolder" serializeAs="String">
                <value>TimeLogs</value>
            </setting>
            <setting name="SaveAfterDone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxActivitiesInHistory" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ReminderTime" serializeAs="String">
                <value>01:00:00</value>
            </setting>
            <setting name="MainWindowLocation" serializeAs="String">
                <value>1280, 1024</value>
            </setting>
            <setting name="ActivitiesNumberInTray" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="TwitterEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TwitterUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitterPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SwitchOnLogOff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LeftClickOnTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKeyToActivate" serializeAs="String">
                <value>Ctrl+F12</value>
            </setting>
            <setting name="SwitchTimeLogAtMidnight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SplitByComma" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotKeyToSwitch" serializeAs="String">
                <value>Ctrl+Alt+Shift+F12</value>
            </setting>
        </LifeIdea.LazyCure.Properties.Settings>
    </userSettings>
</configuration>